<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
 Droga é toda e qualquer substância, natural ou sintética que, introduzida no organismo modifica suas funções. As drogas naturais são obtidas através de determinadas plantas,de animais e de alguns minerais. Exemplo a cafeína (do café), a nicotina (presente no tabaco), o ópio (na papoula) e o THC tetrahidrocanabiol (da maconha). As drogas sintéticas são fabricadas em laboratório, exigindo para isso técnicas especiais. O termo droga, presta-se a várias interpretações, mas comumente suscita a idéia de uma substância proibida, de uso ilegal e nocivo ao indivíduo, modificando-lhe as funções, as sensações, o humor e o comportamento. As drogas estão classificadas em três categorias: as estimulantes, os depressores e os perturbadores das atividades mentais. O termo droga envolve os analgésicos, estimulantes, alucinógenos, tranquilizantes e barbitúricos, além do álcool e substâncias voláteis. As psicotrópicas, são as drogas que tem tropismo e afetam o Sistema Nervoso Central, modificando as atividades psíquicas e o comportamento. Essas drogas podem ser absorvidas de várias formas: por injeção, por inalação, via oral, injeção intravenosa ou aplicadas via retal (supositório).<br>
 
<br>Principais tipos de drogas:</br>
<%= link_to "Alcool", alcohols_path %><br>
<%= link_to "Alucinogenos", hallucinogens_path %><br>
<%= link_to "Anfetaminas", amphetamines_path %><br>
<%= link_to "Anti depressivos", antidepressants_path %><br>
<%= link_to "Barbituricos", barbiturates_path %><br>
<%= link_to "Cafeina", caffeines_path %><br>
<%= link_to "Cannabis Sativa", cannabis_sativas_path %><br>
<%= link_to "Cocaína", cocaines_path %><br>
<%= link_to "Inalantes", inhalants_path %><br>
<%= link_to "Narcoticos", narcotics_path %><br>
<%= link_to "Nicotina", nicotines_path %><br>
<%= link_to "Tranquilizantes", tranquilizers_path %><br>
<br><h6>Fonte: Anti Drogas (http://www.antidrogas.com.br/oquedrogas.php)</h6>
</body>
</html>