<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 align="left"><b>ALCOOL:</b></h2>
        <br>
        <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;É a substância psicoativa mais antiga da humanidade.
        Consumo excessivo traz aplicações no sistema digestivo, podendo resultar em câncer na boca, faringe,
        laringe e esôfago, atrofia do cérebro, demência, icterícia, teleangioma (ruptura dos vasos sanguíneos
        da superfície), eritema palmar, varizes abdominais, fluído abdominal, atrofia testicular, pancreatite, edema
        de tornolzelos, tendência a sangramento fácil, tremor, aumento do braço, cirrose, vasos sanguíneos
        dilatados, coração aumentado e enfraquecido, etc. Afeta a capacidade intelectual, memória e destrói a
        vida social e afetiva do dependente.
        </p>
        <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Pode surpreendê-lo o fato de que mesmo pequena, a quantidade
         de bebida alcoólica pode comprometer a capacidade de dirigir um automóvel. Por exemplo, certas habilidades
         para dirigir, como virar o volante ao mesmo tempo que se dá atenção ao tráfego, podem ficar comprometidas
         por concentrações de álcool no sangue (CASs) tão mínimas como 0,02 por cento. (A CAS se refere à quantia de
         álcool no sangue). Um homem de 80 kg terá uma CAS de aproximadamente 0,04 por cento uma hora após ter
         consumido duas cervejas de 300 ml ou outros dois drinques padrão, de estômago vazio. E quanto mais álcool
         você consumir , mais comprometidas ficarão suas habilidades para dirigir. Embora a maioria dos estados
         norte-americanos estabeleçam o limite de CAS par a adultos que dirijam depois de beber entre 0,08 e 0,10 por
         cento, e no Brasil este limite é de 0,05 % o comprometimento das habilidades de direção começa em níveis bem
         menores.
        </p>
        <br>
      </div>
      <div class="col-md-4">
        <img src="<%=image_path "alcool02.jpg"%>" class="img-thumbnail" alt="Bebidas alcoólicas" >
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="<%=image_path "alcolismo.jpg"%>" class="img-thumbnail" alt="Alcoólico" >
      </div>
    </div>
  </div>
<h3> QUADRO RESUMO DA DROGA:</h3>
<table class="table table-bordered">
 <thead>
   <tr class="active">
     <th>
       Nome:
     </th>
     <th>
       Origem:
     </th>
     <th>
       Quantidade média ingerida:
     </th>
     <th>
       Forma de ingestão:
     </th>
     <th>
       Efeitos a curto prazo (quantidade média):
     </th>
     <th>
       Duração:
     </th>
     <th>
       Efeitos a curto prazo (grandes quantidades):
     </th>
     <th>
       Risco de dependência psicológica:
     </th>
     <th>
       Risco de dependência física:
     </th>
     <th>
       Tolerância:
     </th>
     <th>
       Efeitos a longo prazo:
     </th>
     <th>
       Utilização médica:
     </th>
   </tr>
</thead>
<tbody>
  <% @alcohols.each do |alcohol| %>
  <tr>
  	<td><%= alcohol.name %></td>
  	<td><%= alcohol.origin %></td>
  	<td><%= alcohol.average_ingest %></td>
  	<td><%= alcohol.ingestion_form %></td>
  	<td><%= alcohol.effect_average %></td>
  	<td><%= alcohol.effect_high %></td>
  	<td><%= alcohol.dependence_psychological %></td>
  	<td><%= alcohol.dependence_phisical %></td>
  	<td><%= alcohol.tolerance %></td>
  	<td><%= alcohol.high_term %></td>
  	<td><%= alcohol.long_effects %></td>
  	<td><%= alcohol.medical_use %></td>
  </tr>
 <% end %>
</tbody>
</table>
<p align="right"><a href="/drogas" class="btn btn-warning" role="button">voltar</a></p>
<h6>Fonte: Anti Drogas (http://www.antidrogas.com.br/resumo.php)</h6>
</body>